[submodule "AEngine/external/glfw"]
	path = AEngine/external/glfw
	url = https://github.com/glfw/glfw.git
	ignore = all
[submodule "AEngine/external/glm"]
	path = AEngine/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "AEngine/external/stb"]
	path = AEngine/external/stb
	url = https://github.com/nothings/stb.git
